.form-add p{
	width: 100%;
	float: left;
}

.label{
	line-height: 1em;
	margin: 15px 0 0 0;
}

.alert-listing {
	width: 100%;
	float: left;
	padding: 5px;
    font-size: 13px;
}

.modal-student{
	display: block!important;
	text-align: center;
}

.errors{
	color: #F21212;
}