<div class="form-add">	
	<div #content>
	  <div class="modal-header modal-student">
	    <h4 class="modal-title">	
	    	{{student.id ? 'Edit student' : 'Adding Student'}}
	    </h4>
	    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
	    </button>
	  </div>
	  <div class="modal-body">

		<form [formGroup]="form" (onSubmit)="studentSubmit(form.value)">

			<div><img [src]=""></div>

			<div><input formControlName="avatar"></div>

			<div *ngIf="student.id">
				<label class="label">ID: </label>
				<input formControlName="id" class="form-control form-resize" readonly>
			</div>

			<div>
				<label class="label">First Name:</label>
				<input formControlName="first_name" class="form-control form-resize">
			</div>

			<div>
				<label class="label">Last Name: </label>
				<input formControlName="last_name" class="form-control form-resize">
			</div>
			
		</form>

		<p>Form value: {{ form.value | json }}</p>
        <p>Form status: {{ form.status | json }}</p>

	  </div>

	  <div class="modal-footer">
		
		<button type="submit" class="btn btn-primary" (click)="studentSubmit(form.value)" *ngIf="student.id">Save</button>

		<button type="submit" class="btn btn-primary" (click)="studentSubmit(form.value)" *ngIf="!student.id" [disabled]="!form.valid">Add</button>

	    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>

	  </div>

	</div>

</div>
