<div class="container">

   <div class="header">

        <h2>{{student.id ? 'Edit Student' : 'Add Student'}}</h2> 

   </div>	

   <div class="body">

	    <form [formGroup]="form" class="form-group">

			<div *ngIf="student.id">
				<label class="title-inf">Avatar: </label>
				<img [src]="student.avatar">
			</div>

			<div *ngIf="student.id">
				<label class="title-inf">ID: </label>
				<input formControlName="id" class="form-control" readonly>
			</div>

			<div>
				<label class="title-inf">First Name:</label>
				<input type="text" formControlName="first_name" class="form-control" required minlength="2" placeholder="First_Name">
				
				<div *ngIf="form.controls['first_name'].errors && !form.controls['first_name'].pristine">
	      			<div [hidden]="!form.controls['first_name'].errors.required" class="errors">
	      				First Name is required.
	      			</div>
	      			<div [hidden]="!form.controls['first_name'].errors.minlength" class="errors">
	      				First Name must be at least 2 characters long.
	      			</div>
	    		</div>
			</div>

			<div>
				<label class="title-inf">Last Name: </label>
				<input type="text" formControlName="last_name" class="form-control" required minlength="2" placeholder="Last_Name">

				<div *ngIf="form.controls['last_name'].errors && !form.controls['last_name'].pristine">
	      			<div [hidden]="!form.controls['last_name'].errors.required" class="errors">
	      				Last Name is required.
	      			</div>
	      			<div [hidden]="!form.controls['last_name'].errors.minlength" class="errors">
	      				Last Name must be at least 2 characters long.
	      			</div>
	    		</div>
			</div>

			<div class="footer">
	
				<button *ngIf="student.id" type="submit" class="btn btn-primary" (click)="submittedStudent(form.value)">Save</button>

				<button *ngIf="!student.id" type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="submittedStudent(form.value)">Add</button>

		    	<button type="button" class="btn btn-default" (click)="goBack()">Back</button>

  			</div>
		
		</form>

		

  	</div>

</div>
