table{
	width: 70%;
  margin: auto;
}

th{
	padding: 15px;
}

tr:nth-child(1){
	cursor: auto;
}

tr{
  background-color: #EEE;
  margin: .5em;
  height: 1.6em;
  border-radius: 4px;
}

tr.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

tr:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

td.student-id {
    color: white;
    background-color: #607D8B;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    text-align: center;
}

tr, th, td{
	border: 2px solid #fff;
}

td{
  padding: 0 5px;
}

.btn-delete{
  margin: 5px;
}

.container-resize{
  width: 70%;
}

.box-right-research{
  float: right;
  margin: 15px 130px 15px 0;
}

.search-content{
  width: 100%;
  float: right;
}

.studentAddBtn{
  margin-top: 40px;
}

.studentAddBtn a{
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  float: left;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.form-box {
  margin-top: 10px;
  text-align: left;
}

.form-box .errors {
  color: red;
}