<div class="container container-resize">
	
	<button class="btn btn-primary studentAddBtn"><a routerLink="/add">Add Student</a></button>

	<div class="box-right-research">
		<form>
  			<div>
  				<label>Search Student</label>
    			<input type="search" class="form-control search-content" #searchBox (keyup)="search(searchBox.value)" placeholder="First_Name or Last_Name">
  			</div>
		</form>
	</div>
	
</div>

<table>
	<tr>	
		<th>ID</th>
		<th>Avatar</th>
		<th>Fist Name</th>	
		<th>Last Name</th>
		<th></th>
	</tr>
	<tr *ngFor="let student of students; let selectedStudentIdx = index" class="selected">
		<td class="student-id">{{student.id}}</td>
		<td><img class="avatar" src="{{student.avatar}}" alt=""></td>
		<td>{{student.first_name}}</td>
		<td>{{student.last_name}}</td>
		<td>
			<span>
				<button class="btn btn-danger btn-delete" (click)="confirmDeletedStudent(selectedStudentIdx)">Delete</button>
				<button class="btn btn-info btn-edit"><a routerLink="/edit/{{student.id}}">Edit</a></button>
			</span>
		</td>
	</tr>
</table>

